################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Elevator.Simulation/v17/.futdcache.v2
